---
import { marked } from "marked";
const { block }  = Astro.props;
const content = block ? marked(block) : "nothing";
---
{block && 
<div class="block-richtext custombody" set:html={content}></div>
}