// custom.scss
$primary: #d0005a; // Nuovo colore primario
$hm-light-gray: #4d4d4d;
$font-poppins: 'Poppins', sans-serif; // Nuovo font
$font-barlow: 'Barlow Condensed', sans-serif;
$border-radius: 50rem; // Nuovo raggio di bordo

$h1-font-size: clamp(2.25rem, 1.7rem + 2.75vw, 5rem);
$h2-font-size: clamp(2rem, 1.65rem + 1.75vw, 3.75rem);
$h3-font-size: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
$h4-font-size: clamp(1.25rem, 1.125rem + 0.75vw, 2rem);

$body-color: $hm-light-gray; // Nuovo colore del testo

// Importa il Bootstrap dopo la personalizzazione
@import "bootstrap/scss/bootstrap.scss";


body {
    font-family: $font-poppins;
    color: $body-color;
}

p {
    color: $body-color !important;
}

.fs-big {
    font-size: clamp(2rem, 1.525rem + 2.375vw, 4.375rem) !important;
}

.nav-item {
    a {
        font-family: $font-barlow;
    }
}

#contenuto-testata {
    h2 {
        font-size: clamp(1.125rem, 0.9rem + 1.125vw, 2.25rem) !important;
    }
    p {
        color: white !important;
        font-weight: 300 !important;
        strong {
            font-weight: 700;
        }
    }
}

#who-we-are {
    background: none;

    @media only screen and (min-width: 992px) {
        background-image: url('../assets/images/happyminds-felix-background.jpg');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}

#text-and-foto {
    h4 {
        font-size: clamp(1rem, 0.875rem + 0.625vw, 1.625rem);
    }

    p {
        font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem) !important;
    }
}

#slider-clienti {
    .swiper {
        position:relative;
        padding: 0 50px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
    }

    .swiper-button-next {
        right: 0; /* Sposta fuori dallo slider */
    }

    .swiper-button-prev {
        left: 0; /* Sposta fuori dallo slider */
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 1rem;
        font-weight: 900;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary;
    }

  /* Personalizza il colore e il bordo se necessario */
  
}

#cta-magenta {
    background-image: url('../assets/images/cta-magenta-background.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    p {
        color: white !important;
    }
}


#footer {
    .primary-section{
        p {
            color: white !important;
        }
    }
    .secondary-section {
        .credits {

            p {
                color: $primary !important;

                a {
                    text-decoration: none;
                }
            }
        }
        p {
            color: $primary;;
            font-size: 0.8rem;
            margin-bottom: 0;
        }

        svg {
            fill: $primary;
            height: 1.5rem;
        }
    }
}