// custom.scss
$primary: #d0005a; // Nuovo colore primario
$border-radius: 50rem; // Nuovo raggio di bordo

$h2-font-size: clamp(2rem, 1.65rem + 1.75vw, 3.75rem);

// Importa il Bootstrap dopo la personalizzazione
@import "bootstrap/scss/bootstrap.scss";


#who-we-are {
    background: none;

    @media only screen and (min-width: 992px) {
        background-image: url('../assets/images/happyminds-felix-background.jpg');
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}

#slider-clienti {
    .swiper {
        position:relative;
        padding: 0 50px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 20px;
        height: 20px;
        //background-color: rgba(0, 0, 0, 0.5); /* Sfondo visibile per test */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
    }

    .swiper-button-next {
        right: 0; /* Sposta fuori dallo slider */
    }

    .swiper-button-prev {
        left: 0; /* Sposta fuori dallo slider */
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 1rem;
        font-weight: 900;
    }

    .swiper-pagination-bullet-active {
        background-color: $primary;
    }

  /* Personalizza il colore e il bordo se necessario */
  
}


#footer {
    .secondary-section {
        p {
            color: $primary;
            font-size: 0.8rem;
            margin-bottom: 0;
        }

        svg {
            fill: $primary;
            height: 1.8rem;
        }
    }
}