---
import Layout from '../layouts/Layout.astro';

const landingID = import.meta.env.LANDING_ID;
---

<Layout {landingID}>
    <section>
        <div class="container pb-5">
            <div class="row">
                <div class="col">
                    <h1 class="text-uppercase fw-bold text-black">Cookie Policy</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col">

                    <h4 class="fw-bold ">Titolare del trattamento e informazioni sui cookies</h4>

                    <p>Queste informazioni sono rese da Happy Minds srl - via Angelo Mariani, 7 - Ravenna - in qualità di <b>titolare unico del trattamento</b>. È sempre possibile contattare Happy Minds srl ai seguenti recapiti:
                    <ul>
                         <li   aria-level="1">all'indirizzo e-mail: hello@happyminds.it</li>
                         <li   aria-level="1">presso via Angelo Mariani, 7 - Ravenna</li>
                    </ul></p>
                    <p>La presente Cookie Policy ha lo scopo specifico di:
                    <ul>
                         <li>illustrare i tipi di cookies presenti sul sito web www.happyminds.it (il “Sito”) e le modalità del loro utilizzo; nonché</li>
                         <li   aria-level="1">fornire indicazioni agli utenti del Sito (gli “Utenti”) sulle azioni per rifiutare o eliminare, se lo si desidera, tali cookies.</li>
                    </ul></p>

                    <p>I cookie sono stringhe di testo di piccole dimensioni che i siti visitati inviano al browser del terminale degli Utenti, dove vengono memorizzati per essere poi ritrasmessi agli stessi siti alla successiva visita dei medesimi. Nel corso della navigazione su un sito, gli utenti possono ricevere sul vostro terminale cookie di “prima parte”, quando sono gestiti direttamente dal proprietario e/o dal gestore del sito, e anche cookie che vengono inviati da siti o da web server diversi (c.d. cookie di “terze parti”); ciò accade perché sul sito web visitato possono essere presenti elementi che risiedono su server diversi da quello sul quale si trova il Sito, impostati da un sito web diverso da quello che si sta attualmente visitando.</p>
                    
                    <p>Per impostazione predefinita, Happy Minds srl tratta solamente i dati necessari per la corretta funzionalità del Sito.</p>
                    
                    <p>Al primo accesso al Sito, verranno quindi posizionati all'interno del dispositivo dell'Utente solamente cookie o altri strumenti di tracciamento tecnici o funzionali, che non richiedono alcun consenso. L'Utente potrà, attraverso l'apposito banner, acconsentire o negare l'installazione di ulteriori cookie, utili a Happy Minds srl per monitorare le prestazioni del Sito, migliorare i propri servizi e fornire servizi sempre più personalizzati.</p>
                    
                    <p>Questo sito web utilizza i cookie. Questo sito utilizza cookie tecnici, di analisi e di profilazione statistica, propri e di terzi. Per impostazione predefinita, utilizziamo solamente cookie tecnici; qui sotto puoi impostare le tue preferenze e acconsentire all'installazione di tutti o alcuni cookie.</p>
                    
                    <p>Il suo consenso si applica ai seguenti siti web: <b>destinationmarketing.happyminds.it</b></p>
                    
                    <script id="CookieDeclaration" src="https://consent.cookiebot.com/7cbbd0ea-1ac8-4dbe-b3c9-4e6171cf8623/cd.js" type="text/javascript" async></script>

                    &nbsp;
                    &nbsp;
                    
                    <h4 class="fw-bold">Natura del conferimento dei dati da parte degli utenti</h4>
                    
                    <p>L'utente autorizza l'utilizzo dei cookie proseguendo nella navigazione, dopo aver letto il banner presente sulla <i>homepage</i>. Il conferimento dei dati è facoltativo.</p>
                    
                    <p>È possibile modificare le preferenze relative ai cookie in qualsiasi momento mediante specifiche configurazioni del browser, secondo le specifiche procedure di seguito descritte. Tramite le preferenze del browser è inoltre possibile eliminare i cookie installati in passato, incluso il cookie in cui venga eventualmente salvato il consenso all'installazione di cookie da parte di uno del Sito.</p>
                    
                    <p>L'utente può esprimere il proprio consenso all'utilizzo dei cookie del Sito. È possibile accettare tutti i cookie, solo alcuni, oppure rifiutarli tutti. Nel caso in cui l'utente decida di disattivare i cookie (anche quelli tecnici), non avrà accesso a molte caratteristiche che rendono il Sito più efficiente e alcuni dei nostri servizi non funzioneranno in modo corretto.</p>
                    
                    <p>Per quanto concerne i cookie di terze parti, l'utente può inoltre esercitare il proprio diritto ad opporsi al trattamento informandosi tramite la privacy policy della terza parte, tramite il link di <i>opt out</i> se esplicitamente fornito nella suddetta privacy policy o nella cookie policy, o contattando direttamente la stessa terza parte.</p>
                    
                    <h4 class="fw-bold">Opzioni in merito all'uso dei cookie</h4>
                    
                    <p>È possibile controllare i cookie attraverso le impostazioni del <i>browser </i>utilizzato. Poiché ciascun <i>browser</i> ha delle funzioni differenti, l'utente dovrà controllare sul menu di “<i>aiuto</i>” del proprio <i>browser</i> per capire come modificare correttamente le impostazioni relative ai cookie.</p>
                    
                    <p>L'utente può quindi modificare le impostazioni del <i>browser</i> in modo che i cookie siano cancellati o non vengano salvati nel computer o dispositivo <i>mobile </i>senza il proprio consenso esplicito. Ai seguenti link l'utente può capire meglio come impostare il proprio <i>browser</i>:
                    <ul>
                         <li   aria-level="1">Internet Explorer: <a href="https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies</a>  </li>
                         <li   aria-level="1">Mozilla Firefox: <a href="https://support.mozilla.com/en-US/kb/cookies-information-websites-store-on-your-computer#w_cookie-settings">https://support.mozilla.com/en-US/kb/cookies-information-websites-store-on-your-computer#w_cookie-settings</a>  </li>
                         <li   aria-level="1">Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a>   </li>
                         <li   aria-level="1">Safari: <a href="http://support.apple.com/kb/PH504">http://support.apple.com/kb/PH504</a>  </li>
                    </ul></p>
                    <p>Fermo restando quanto precede, l'utente può consultare il sito <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a> . </p>
                    
                    <p>Per tutte le altre informazioni sul trattamento dei dati personali raccolti sul Sito, (ad esempio, diritti degli utenti, destinatari dei dati, trasferimenti all'estero) <b>si prega di leggere l'informativa relativa al trattamento dei dati personali del Sito </b>al link qui sotto: <a href="https://www.happyminds.it/privacy-policy/">https://www.happyminds.it/privacy-policy/</a></p>
                    

                </div>
            </div>


        </div>
    </section>
</Layout>
