---
import RichText from '../components/core/RichText.astro';
import LinkPulsante from '../components/core/LinkPulsante.astro';
const { pd } = Astro.props;

interface Counter {
    children: { text: string }[];
}

//console.log(pd.descrizione[0]);
//console.log(pd.titolo);
---

<section id="call-to-action" class="py-3 py-lg-5">
    <div class="container col-11 text-md-start text-center">
        <div class="row">

            <div class="col-lg-7">

                {pd.titolo !== null &&
                <h2 class="text-primary lh-1 fw-bold fs-big text-uppercase">
                    {pd.titolo}
                </h2>
                }

                {pd.sottotitolo !== null &&
                <p class="fw-bold fs-4">{pd.sottotitolo}</p>
                }

            </div>

            <div class="col-lg-5">

                {pd.descrizione !== null && 
                <div class="text-container pb-4 pt-2">
                    <RichText block={pd.descrizione} />
                </div>
                }
                
                {pd.pulsante !== null && 
                    <LinkPulsante param={pd.pulsante} />
                }

            </div>

        </div>
    </div>
</section>