---

---

<section id="call-to-action" class="py-3 py-lg-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-7">
                <h2 class="text-primary lh-1 fw-bold fs-big">
                    We create destinations<br>spreading happiness
                </h2>
                <p class="fw-bold fs-3">Come creiamo una destinazione felice?</p>
            </div>

            <div class="col-lg-5">
                <div class="text-container pb-4 pt-2">
                    <p class="fs-6">
                        Decens thermae suspendo surculus cubicularis suasoria cauda. Vilis arcus vester vilis vilitas venustas vilis adicio adinventitias. Deprimo virgo vitiosus.
    Ager contego autem quo consectetur video aliquam tamdiu virga. Sed cibus illum deprimo denique vae blanditiis denego cauda. 
                    </p>
                </div>
                
                <a class="btn btn-primary rounded px-5 py-2 fw-bold">Contattaci</a>
            </div>

        </div>
    </div>
</section>