---

---


<section id="slider-clienti">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <div class="swiper pb-5">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>

                        <div class="swiper-slide">
                            <img src="https://picsum.photos/400/400" class="img-fluid rounded-4">
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>