---

const { pd } = Astro.props;

---


<section id="codice">
    <div class="container pt-5" id="contattaci">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div set:html={pd.Code}></div>
            </div>
        </div>
    </div>
</section>