---

---
<section id="cta-magenta" class="py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 text-white">
                <h2 class="fw-bold text-uppercase">Title 1</h2>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                <img src="http://img.dummy-image-generator.com/buildings/dummy-400x120-Roof.jpg" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-lg-6 text-white">
                <h2 class="fw-bold text-uppercase">Title 2</h2>
                <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                <img src="http://img.dummy-image-generator.com/buildings/dummy-400x120-Roof.jpg" alt="Image 1" class="img-fluid">
            </div>
        </div>
    </div>
</section>
