<footer class="container-fluid d-flex justify-content-center align-items-center" id="footer">
    <div class="row w-100 text-center d-flex justify-content-center align-items-center">
        <div class="col-4">
            <h1>COLONNA 1</h1>
        </div>
        <div class="col-4">
            <h1>COLONNA 2</h1>
        </div>
        <div class="col-4">
            <h1>COLONNA 3</h1>
        </div>
    </div>
</footer>