---
import logo from '../assets/images/happy-minds-logo-verticale-colori-payoff.png';
import imgMagenta from '../assets/images/we-are-magenta.png';
---
<section id="who-we-are" class="py-4">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12 col-lg-5">
                <h2 class="text-uppercase text-primary fw-bold">Who we are</h2>
                <p>
                    Decens thermae suspendo surculus cubicularis suasoria cauda. Vilis arcus vester vilis vilitas venustas vilis adicio adinventitias. Deprimo virgo vitiosus.<br/>
                    <strong>Ager contego autem quo consectetur video aliquam tamdiu virga</strong>. Sed cibus illum deprimo denique vae blanditiis denego cauda. Vicissitudo crustulum.
                </p>
            </div>

            <div class="col-12 col-lg-3">
                <div class="img-container p-3 p-lg-5 w-100">
                    <img src={logo.src} width={logo.width} height={logo.height} alt="Logo HappyMinds" class="img-fluid">
                </div>                
            </div>

        </div>

        <div class="row pt-3">
            <div class="col-12 col-lg-7">
                <div class="img-container p-3 w-100">
                    <img src={imgMagenta.src} alt="We are magenta" class="img-fluid rounded-4">
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <h2 class="text-uppercase text-primary fw-bold">We are magenta</h2>
                <p>
                    Decens thermae suspendo surculus cubicularis suasoria cauda. Vilis arcus vester vilis vilitas venustas vilis adicio adinventitias. Deprimo virgo vitiosus.<br/>
                    <strong>Ager contego autem quo consectetur video aliquam tamdiu virga</strong>. Sed cibus illum deprimo denique vae blanditiis denego cauda. Vicissitudo crustulum.
                </p>
            </div>
        </div>
    </div>
</section>