---
interface Counter {
    numero: number;
    titolo: string;
}

let rand = 0;

const { pd } = Astro.props;
---

<script type="module" src="https://cdn.jsdelivr.net/gh/lekoala/formidable-elements@master/dist/count-up.min.js"></script>

<div class="row h-50 d-flex justify-content-center align-items-center">
    {
        pd.counter.map((counter: Counter, index: number) => (
            rand = Math.floor(Math.random() * 4) + 2,
            <div class="col-4 text-center">
                <h2 class="fs-1">
                    +<count-up 
                        id={`counter-${index}`} 
                        data-start="false" 
                        data-format="false" 
                        data-duration={rand}
                    >{counter.numero}</count-up>
                </h2>
                <p>{counter.titolo}</p>
            </div>
        ))
    }
</div>
