---
import imgMtgt from '../assets/images/mtgt.png';
---

<section id="text-and-foto" class="py-3 py-lg-5">
    <div class="container">
        <div class="row d-flex flex-row-reverse">
            <div class="col-lg-6 p-3 p-lg-5">
                <div class="text-container pt-3 pb-3">
                    <h3 class="text-primary lh-1 fw-bold fs-2 pb-3">Marketing territoriale <br>e Governance turistica</h3>
                    <p>Lavoriamo con PA, DMC, DMO e aziende con un approccio basato su analisi, engagement e co-progettazione. Crediamo nella collaborazione tra pubblico e privato per uno sviluppo sostenibile dei territori. Per questo analizziamo territorio e mercati, ascoltiamo bisogni e obiettivi, coinvolgiamo istituzioni e stakeholder per definire modelli di governance, piani di marketing e strategie di sviluppo.</p>
                </div>
            </div>

            <div class="col-lg-6 p-3 p-lg-5">
                <img src={imgMtgt.src} class="img-fluid">
            </div>
        </div>
    </div>
</section>