---
import Head from './Head.astro'
import Footer from '../components/Footer.astro'
import Nav from './Nav.astro'
import Presentation from '../components/Presentation.astro';
const { 
	title = 'HappyLanding!', 
	description = 'La nuovissima landing page di HappyMinds sulle Tourism Destinations.' 
	} = Astro.props;

	
/**
 * Importazione regole di stile
 */
import 'swiper/swiper.css';
import '../styles/fonts.css';
import '../styles/global.css';
import "../styles/custom.scss";
---

<!doctype html>
<html lang="en">
	<Head {title} {description} />
	<body>
		<Nav />

		<slot />
		<Presentation />
		<Footer />
	</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const navbar = document.getElementById("navbar");
		const updatePadding = () => {
			if (navbar) {
				document.body.style.paddingTop = `${navbar.offsetHeight}px`;
			}
		};

		updatePadding(); // Imposta il padding iniziale
		window.addEventListener("resize", updatePadding); // Aggiorna in caso di resize
	});

</script>